In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,HK,2022-01-29 21:45:46,22.2855,114.1577,60.24,82,96,1.01
1,1,Jamestown,US,2022-01-29 21:46:52,42.0970,-79.2353,15.12,35,0,11.50
2,2,Arraial Do Cabo,BR,2022-01-29 21:50:28,-22.9661,-42.0278,75.16,83,75,9.22
3,3,Hilo,US,2022-01-29 21:47:23,19.7297,-155.0900,78.53,56,20,8.05
4,4,Los Llanos De Aridane,ES,2022-01-29 21:50:29,28.6585,-17.9182,58.75,73,75,7.00

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Arraial Do Cabo,BR,2022-01-29 21:50:28,-22.9661,-42.0278,75.16,83,75,9.22
3,3,Hilo,US,2022-01-29 21:47:23,19.7297,-155.0900,78.53,56,20,8.05
8,8,Vaini,TO,2022-01-29 21:50:30,-21.2000,-175.2000,81.48,78,100,15.75
9,9,Bengkulu,ID,2022-01-29 21:50:31,-3.8004,102.2655,75.76,91,100,4.03
12,12,Atuona,PF,2022-01-29 21:50:32,-9.8000,-139.0333,77.63,76,14,12.19
13,13,Touros,BR,2022-01-29 21:50:33,-5.1989,-35.4608,79.70,78,87,10.45
14,14,Tual,ID,2022-01-29 21:50:33,-5.6667,132.7500,82.74,77,100,14.38
17,17,Kapaa,US,2022-01-29 21:50:34,22.0752,-159.3190,80.58,70,20,3.00
25,25,Valparaiso,CL,2022-01-29 21:50:19,-33.0393,-71.6273,75.43,55,20,13.80
31,31,Rikitea,PF,2022-01-29 21:50:39,-23.1203,-134.9692,77.23,72,100,10.40

In [26]:
preferred_cities_df.count()

City_ID       139
City          139
Country       139
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2   Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
3              Hilo      US     78.53  19.7297 -155.0900
8             Vaini      TO     81.48 -21.2000 -175.2000
9          Bengkulu      ID     75.76  -3.8004  102.2655
12           Atuona      PF     77.63  -9.8000 -139.0333
13           Touros      BR     79.70  -5.1989  -35.4608
14             Tual      ID     82.74  -5.6667  132.7500
17            Kapaa      US     80.58  22.0752 -159.3190
25       Valparaiso      CL     75.43 -33.0393  -71.6273
31          Rikitea      PF     77.23 -23.1203 -134.9692

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
3,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Vaini,TO,81.48,-21.2000,-175.2000,Keleti Beach Resort
9,Bengkulu,ID,75.76,-3.8004,102.2655,Grage Hotel Bengkulu
12,Atuona,PF,77.63,-9.8000,-139.0333,Villa Enata
13,Touros,BR,79.70,-5.1989,-35.4608,INN NEW HORIZON
14,Tual,ID,82.74,-5.6667,132.7500,Grand Vilia Hotel
17,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Valparaiso,CL,75.43,-33.0393,-71.6273,Hotel Ultramar
31,Rikitea,PF,77.23,-23.1203,-134.9692,People ThankYou

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]